//import
@import "normalize";
@import "grid";

//main style
//Color
//main - teal
$primary: #25989b;

//secondary - white
$secondary: #ffffff;

//tertiary - gray
$tert: #eeeff2;

//global
@import "global";

/* Navigation */

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    z-index: 100;
}

#logo {
    text-align: center;
    margin: 10px 0;
}

#nav {
    text-align: right;
    margin: 30px 0 0 0;
}

.navigation {
    float: right;
    list-style: none;
    margin: 0;
    font-family: "Berlin Sans FB","Arial",sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $primary;
}

.navigation li {
    float: left;
    // padding:0 0 0 50px;
    padding: 10px 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.navigation li:hover {
    cursor: pointer;
    color: #a9d3d0;
}

.navigation .active {
    cursor: pointer;
    background-color: $primary;
    color: $secondary;
    font-weight: 500;
}

/* General Slides */

.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 140px 0;
}

/* Slide 1 */

#slide1 {
    background-color: $primary;
}

#slide1 {
    h1 {
        font-size: 3.8em;
        letter-spacing: -3px;
        line-height: 0px;
        color: #ffffff;
        font-weight: 700;
    }
    h2 {
        font-size: 3em;
        color: $secondary;
        line-height: 38px;
        //20px
        padding-bottom: 20px;
        font-weight: 400;
    }
}

.description {
    text-align: justify;
    line-height: 1.4em;
}

/* feature section */

.features-img {
    width: 140px;
    max-width: 100%;
    height: 140px;
    margin: auto;
    -webkit-background-size: 140px;
    background-size: 140px;
    background-repeat: no-repeat;
}

.pushy-active .features-img {
    -webkit-background-size: 100%;
    background-size: 100%;
}

.fdesign {
    background-image: url("/img/friendly-icon.png");
}

.simpleneasy {
    background-image: url("/img/simple-easy-icon.png");
}

.autodetect {
    background-image: url("/img/auto-detect.png");
}

.feature {
    text-align: center;
}

#slide2 {
    background-color: $secondary;
    color: $primary;
}

#slide2 h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    color: $primary;
    font-weight: 700;
}

#slide2 h2 {
    font-size: 2em;
    color: $primary;
    line-height: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

/* Slide 3 */

#slide3 {
    background-color: $tert;
    h3 {
        font-size: 3em;
        color: $primary;
        line-height: 0px;
        padding-bottom: 20px;
        font-weight: 400;
    }
    p {
        color: #7d7d7d;
        line-height: 1.8em;
    }
}

.about {
    text-align: center;
}

// #slide3 h1 {
// 	font-size: 3.8em;
// 	letter-spacing: -3px;
// 	line-height: 0px;
// 	color:$primary;
// 	font-weight: 700;
// }

.learn-more {
    width: 180px;
}

#test {
    background-color: #bde2df;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

/* Contact */

#slide4 {
    background-color: $primary;
    color: #ffffff;
}

#slide4 {
		 h3 {
        font-size: 2.5em;
        color: $secondary;
        line-height: 0px;
        padding-bottom: 20px;
       
    }
}

//Contact Form
input[type="text"],input[type="email"], textarea {
    color: $secondary;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.9em;
    // border-radius: 2px;
    display: block;
    width: 100%;
    margin-top: 0.9em;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    font-style: italic;
    resize: none;
    &:focus {
        box-shadow: 0 0px 2px rgba(red, 1) !important;
    }
}

input[type="submit"]{
	background-color:#0a5e60;
	color:$secondary;
	padding:20px;
	border:0;
    outline: 0;
    text-transform: uppercase;
    font-family:"Berlin Sans FB","Arial",sans-serif;
    width: 120px;
}
::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}
//footer
footer{
	background-color: #0a5e60;
	text-align:center;
	
}
//Tablet
@import "tablet";

//mobile
@import "mobile";